:root {
  font-family: 'Courier New', Courier, monospace;
  background-color: #222;
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #444;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: #000;
}

canvas {
  image-rendering: auto;
  /* Smoother for realistic style */
  width: 1280px;
  /* 2x scale */
  height: 720px;
  display: block;
}